{% extends "layout.html" %}
{% block content %}
  <div>
  	<div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <ul class="list-group">
                <li class="list-group-item" onclick="location.href = 'blog_post1.html';">
                    <h2>Benefits of Apple</h2>
                    <p>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia                         bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,                               tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </li>
                <li class="list-group-item">
                    <h2>Benefits of Orange</h2>
                    <p>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia                         bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,                               tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </li>
                <li class="list-group-item">
                    <h2>Benefits of Banana</h2>
                    <p>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia                         bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,                               tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </li>
                <li class="list-group-item">
                    <h2>Benefits of Guava</h2>
                    <p>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia                         bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,                               tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </li>
                <li class="list-group-item">
                    <h2>Benefits of Tomato</h2>
                    <p>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia                         bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,                               tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </li>
            </ul>

        

         

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->
       </div>
      </div>
  </div>
{% endblock %}